<p><i class="fa fa-github fa-lg fa-fw"></i> <a href="https://github.com/originerd/" target="_blank">@originerd</a></p>
<p><i class="fa fa-linkedin fa-lg fa-fw"></i> <a href="https://www.linkedin.com/in/originerd" target="_blank">linkedin.com/in/originerd</a></p>
<p><i class="fa fa-medium fa-lg fa-fw"></i> <a href="https://medium.com/@originerd" target="_blank">@originerd</a></p>
<p><i class="fa fa-laptop fa-lg fa-fw"></i> <a href="http://originerd.github.io" target="_blank">originerd.github.io</a></p>
<p><i class="fa fa-envelope-o fa-lg fa-fw"></i> <a href="mailto:originerd@gmail.com" target="_blank">originerd@gmail.com</a></p>
